<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100" >
            <form class="sign-in-form" #User="ngForm" name="registration_form" id='registration_form' (ngSubmit)="register(User,firstNameValRef,lastNameValRef,emailValRef,passwordValRef,termsConditionsRef,termsConditionsValRef)" > 
                <div style="margin-top: -10px; margin-left: -15px; margin-bottom: 30px;">
                    <a class="navbar-brand">
                        <img style="width: 36px;height: 20px; margin-top: -2px" src="assets/images/logo (2).png" alt="logo" /></a>
                      <span>
                        <span class="brand-2" style="font-size: 22px; font-family: unset; font-weight: 600; color: rgb(131, 131, 131);">&nbsp; Sign up</span>
                      </span>
                </div>
                <p class="sign-in-up-fieldset">
                    <label class="sign-in-up-label image-replace cd-username" htmlFor="signin-first-name">First Name</label>
                    <input (change)="firstNameChange(User, firstNameValRef)" (blur)="firstNameChange(User, firstNameValRef)" class="sign-in-up-input full-width has-padding has-border" id="signin-first-name" type="text"
                        placeholder="First name" name="FirstName" ngModel />
                    <span #firstNameValRef class="validation-span" style="width: 150px; left: 5px;">First name required</span>
                </p>
                <p class="sign-in-up-fieldset">
                    <label class="sign-in-up-label image-replace cd-username" htmlFor="signin-last-name">Last name</label>
                    <input (change)="lastNameChange(User, lastNameValRef)" (blur)="lastNameChange(User, lastNameValRef)" class="sign-in-up-input full-width has-padding has-border" id="signin-last-name" type="text"
                        placeholder="Last name" name="LastName" ngModel />
                    <span #lastNameValRef class="validation-span" style="width: 150px; left: 5px;">Last name required</span>
                </p>
                <p class="sign-in-up-fieldset">
                    <label class="sign-in-up-label image-replace cd-email" htmlFor="signin-email">Email</label>
                    <input (change)="emailChange(User, emailValRef)" (blur)="emailChange(User, emailValRef)" class="sign-in-up-input full-width has-padding has-border" id="signin-email" type="text"
                        placeholder="Email" name="EmailRegistration" ngModel />
                    <span class="sign-in-up-error-message" id="signin-email-error">Email</span>
                    <span #emailValRef class="validation-span" style="width: 150px; left: 5px;">Email required</span>
                </p>
                <p class="sign-in-up-fieldset">
                    <label class="sign-in-up-label image-replace cd-password" htmlFor="signin-password">Password</label>
                    <input #passwordInput (change)="passwordChange(User, passwordValRef)" (blur)="passwordChange(User, passwordValRef)" class="sign-in-up-input full-width has-padding has-border" id="signin-password"
                        type="password" placeholder="Password" style="padding-right: 65px;" name="Password" ngModel />
                    <span #showPassRef (click)="showPass(showPassRef,passwordInput)" class="hide-password" style="font-size: 12px;" id="hide-password">show</span>
                    <span #passwordValRef class="validation-span" style="width: 150px; left: 5px;">Password required</span>
                </p>
                <div class="remember-me-input" style="margin-bottom: 5px;">
                    <div class="form-check" style="position: relative;" >
                        <label class="form-check-label" style="position: relative; font-weight: normal !important; font-size: 12px !important;">
                            <input (click)="terms(termsConditionsRef,termsConditionsValRef)" #termsConditionsRef class="form-check-input" type="checkbox" value=""> I agree to the
                            <span class="form-check-sign" style="position: absolute; top: 3px;"> 
                                <span class="check"></span>
                            </span>        
                        </label>
                        <span  data-toggle="modal" data-target=".terms-and-conditions" style="color: #27aae1; position: relative; left: -11px; cursor: pointer;">terms and conditions.</span>
                        <span #termsConditionsValRef class="validation-span" style="width: 250px; left: -22px;">You must accept terms and conditions.</span>
                    </div>
                    <div class="modal fade terms-and-conditions" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div style="height: 80vh; width: 100%; background-color: #ffffff !important; opacity: 0.9 !important;">
                                    Terms and Conditions
                                </div>      
                            </div>
                        </div>
                    </div>
                </div>
                <p style="margin-bottom: 20px;">
                    <input class="router-link btn btn-primary" style="border: 1px solid #27aae1; background-color: #ffffff; color: rgb(39, 38, 38); font-weight: normal; width: 100%;" type="submit" value="Sign up" />
                </p>
                <div class="sign-in-up-forgot-pass router-link" style="margin-bottom: 10px; color: #27aae1" routerLink="/login" ><span style="color: rgb(39, 38, 38); " >Already have an account?</span> Sign in.</div>
            </form>
            <div class="login100-more" style="background: #27aae1;">
                <div style="height: 350px; font-size: 22px; font-family: unset; font-weight: 600; color: #ffffff; margin-left: 7.5%; margin-top: calc(50vh - 200px); width: 73%; text-align: center;">
                    <div># Welcome</div> <br/>
                    <div style="font-size: 16px; font-family: unset; font-weight: 500; color: #ffffff;">Make friends, connect with family, publish challenges and compete in trivia contest that spans art and entertainment, sports, the world, etc and stand a chance to win weekly prizes.</div><br/>
                    <img style="width: 220px; height: 220px; margin-top: 20px;" src="assets/images/group.svg" alt="logo" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="spinner-wrapper" *ngIf="registrationSpinner" >
    <div class="spinner" style="z-index: 9;"></div>
</div>
