<!-- Basic Information
              ================================================= -->
<div class="edit-profile-container">
    <div class="block-title">
        <h4 class="grey"><i class="icon ion-android-checkmark-circle"></i>Edit basic information</h4>
        <div class="line"></div>
    </div>
    <div class="edit-block">
        <!--Register Form-->
        <form #User="ngForm" name="basic-info" id="basic-info" class="form-inline" (ngSubmit)="updateBasicInfo(User)">
            <div class="row">
                <div class="form-group col-xs-6" style="position: relative;">
                    <span for="firstname">First Name<span class="text-red">*</span></span>
                    <input #firstNameInput (change)="onFieldChange(firstNameInput,firstNameValRef,'FirstName')" id="firstname" class="form-control input-group-lg" type="text" name="FirstName"
                        title="Enter first name" placeholder="First name" [ngModel]="userModel['FirstName']" />
                    <span #firstNameValRef class="validation-span" style="width: 150px; left: 15px;">Field required</span>
                </div>
                <div class="form-group col-xs-6">
                    <span for="lastname">Last Name<span class="text-red">*</span></span>
                    <input #lastNameInput (change)="onFieldChange(lastNameInput,lastNameValRef,'LastName')"  id="lastname" class="form-control input-group-lg" type="text" name="LastName"
                        title="Enter last name" placeholder="Last name" [ngModel]="userModel['LastName']" />
                        <span #lastNameValRef class="validation-span" style="width: 150px; left: 15px;">Field required</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <span for="email">Email<span class="text-red">*</span></span>
                    <input #emailInput (change)="onFieldChange(emailInput,emailValRef,'Email')" [readonly]="EmailConfirmed"   id="email" class="form-control input-group-lg" type="text" name="EmailRegistration"
                        title="Enter Email" type="email" required placeholder="Your Email"
                        [ngModel]="userModel['EmailRegistration']" />
                        <span #emailValRef class="validation-span" style="width: 150px; left: 15px;">Field required</span>
                    <span *ngIf="EmailConfirmed" class="text-green" style="font-size: 11px; cursor: pointer;" (click)="sendemailchangerquestlink()"><i>Request change(Send link for changing the email).</i></span>
                    <span *ngIf="!EmailConfirmed" class="text-red" style="font-size: 11px; cursor: pointer;" (click)="sendemailconfirmationlink()" ><i>Resend confirmation link(Please confirm your email so that you never lose the account).</i></span>
                </div>
            </div>
            <div class="row" ngModelGroup="DateOfBirth">
                <p class="custom-label">Date of Birth</p>
                <div class="form-group col-sm-3 col-xs-6">
                    <label for="month" class="sr-only"></label>
                    <select class="form-control" id="day" name="Day" [ngModel]="userModel.DateOfBirth.Day" (change)="onFieldChange(emailInput,emailValRef,'Email')" >
                        <option value="0" disabled>Day</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                        <option>31</option>
                    </select>
                </div>
                <div class="form-group col-sm-3 col-xs-6">
                    <label for="month" class="sr-only"></label>
                    <select class="form-control" id="month" name="Month" [ngModel]="userModel.DateOfBirth.Month" (change)="onFieldChange(emailInput,emailValRef,'Email')" >
                        <option value="Month" disabled>Month</option>
                        <option>Jan</option>
                        <option>Feb</option>
                        <option>Mar</option>
                        <option>Apr</option>
                        <option>May</option>
                        <option>Jun</option>
                        <option>Jul</option>
                        <option>Aug</option>
                        <option>Sep</option>
                        <option>Oct</option>
                        <option>Nov</option>
                        <option>Dec</option>
                    </select>
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="year" class="sr-only"></label>
                    <select class="form-control" id="year" name="Year" [ngModel]="userModel.DateOfBirth.Year" (change)="onFieldChange(emailInput,emailValRef,'Email')" >
                        <option value="0" disabled>Year</option>
                        <option *ngFor="let year of years">{{year}}</option>               
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <span for="Gender">Gender: </span>
                    <select class="form-control" name="Gender" [ngModel]="userModel.Gender" (change)="onFieldChange(emailInput,emailValRef,'Email')" >
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group  col-xs-12">
                    <span for="city">City</span>
                    <input id="city" #gender class="form-control input-group-lg reg_name" type="text" name="City" (change)="onFieldChange(emailInput,emailValRef,'Email')" 
                        title="Enter city" placeholder="Your city" [ngModel]="userModel['City']" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <span for="my-info">About me</span>
                    <textarea id="my-info" name="AboutMe" class="form-control" placeholder="" rows="4"
                        [ngModel]="userModel['AboutMe']" cols="400" (change)="onFieldChange(emailInput,emailValRef,'Email')" ></textarea>
                </div>
            </div>
            <button class="btn btn-primary router-link" type="submit">Save Changes</button>
        </form>
    </div>
</div>
<div id="spinner-wrapper" *ngIf="basicInfoSpinner">
    <div class="spinner"></div>
</div>