<div class="page-title-div">Leaderboards</div>
<div class="line-divider"></div>
<form style="width: 100%;">
    <input #searchRef (keyup)="searchLeaderboards(searchRef)"
        style="width: 100%; height: 30px; margin-bottom: 8px; background-color: rgb(250, 250, 250); border-radius: 2px;"
        type="text" class="form-control search" placeholder="Search" />
</form>
<table class="table table-striped noselect">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th (click)="orberbyWeekly()" [class.leaderboard-active-tab]="orderby == 'weekly'"
                style="text-align: center; cursor: pointer;"><span class="noselect">Weekly</span></th>
            <th (click)="orberbyWeekend()" [class.leaderboard-active-tab]="orderby == 'weekend'"
                style="text-align: center; cursor: pointer;"><span class="noselect">Weekend</span></th>
            <th (click)="orberbyStreak()" [class.leaderboard-active-tab]="orderby == 'streak'"
                style="text-align: center; cursor: pointer;"><span class="noselect">Streak</span></th>
            <th (click)="orberbyTotal()" [class.leaderboard-active-tab]="orderby == 'total'"
                style="text-align: center; cursor: pointer;"><span class="noselect">Total</span></th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let leaderboard of Leaderboards; index as i">
            <tr [ngClass]="{ 'current-user-leaderboard': leaderboard['UserID'] == UserData['_id']}"
                *ngIf="leaderboard['users'][0] != null">
                <td
                    [ngClass]=" { 'leaderboard-margin': Leaderboards.length == 11 && i == Leaderboards.length - 2, 'leaderboard-margin2': Leaderboards.length <= 10 && currentUserInList && i == Leaderboards.length - 2}">
                    {{leaderboard["Position"]}}
                </td>
                <td>{{leaderboard["users"][0]["FirstName"]}} {{leaderboard["users"][0]["LastName"]}}</td>
                <td align="center">{{leaderboard["WeeklyScore"]}}</td>
                <td align="center">{{leaderboard["WeekendScore"]}}</td>
                <td align="center">{{leaderboard["HighestStreak"]}}</td>
                <td align="center">{{leaderboard["TotalScore"]}}</td>
            </tr> 
        </ng-container>
    </tbody>

</table>
<ul class="pager" style="width: 100%; margin-top: -10px;">
    <li style="float: left;"><a class="noselect" (click)="previousClick()"
            style=" width: 80px; border-radius: 3px; background-color: rgb(250, 250, 250); border: none; cursor: pointer;">Previous</a>
    </li>
    <li style="float: right;"><a class="noselect" (click)="nextClick()"
            style=" width: 80px; border-radius: 3px; background-color: rgb(250, 250, 250); border: none; cursor: pointer;">Next</a>
    </li>
</ul>