<div class="page-title-div">Buy attempts</div>
<div class="line-divider"></div>
<div class="container" style="width: 101%; margin-top: 25px;">
    <div class="row" style="margin-bottom: 15px;">
        <div class="custom-col">
            <div class="custom-col-text">300 attempts</div>
            <div class="custom-col-text"><b>R 5.00</b></div>
            <button class="custom-col-button" type="submit" onClick={buyAttempts} >buy</button>
        </div>
        <div class="custom-col">
            <div class="custom-col-text">300 attempts</div>
            <div class="custom-col-text"><b>R 5.00</b></div>
            <button class="custom-col-button" type="submit" onClick={buyAttempts} >buy</button>
        </div>
    </div>
    <div class="row" style="margin-bottom: 8px;">
        <div class="custom-col">
            <div class="custom-col-text">300 attempts</div>
            <div class="custom-col-text"><b>R 5.00</b></div>
            <button class="custom-col-button" type="submit" onClick={buyAttempts} >buy</button>
        </div>
        <div class="custom-col">
            <div class="custom-col-text">300 attempts</div>
            <div class="custom-col-text"><b>R 5.00</b></div>
            <button class="custom-col-button" type="submit" onClick={buyAttempts} >buy</button>
        </div>
    </div>
</div>

