<!-- Post Content
                  ================================================= -->
<div class="post-content" *ngIf="postLoaded" style="min-height: 100vh; padding-bottom: 50px;">
    <!--Post Date End-->
    <video *ngIf='fileType == "video"' class="post-video" style="width: 100%; height: auto; max-height: 500px;"
        controls>
        <source [src]='post["Files"][0]["FileBaseUrls"][0]' type="video/mp4"> </video>
    <img *ngIf='fileType == "image"' style="width: 100%; height: auto; max-height: 500px;"
        [src]='post["Files"][0]["FileBaseUrls"][0]' alt="" class="img-responsive post-image" />
    <div class="post-container">
        <img src="http://placehold.it/300x300" alt="user" class="profile-photo-md pull-left" />
        <div class="post-detail">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <div class="user-info">
                            <h5><a href="timeline.html" class="profile-link">Anna Young</a></h5>
                            <p class="text-muted" style="font-size: 11px;">about 4 hour ago</p>
                        </div>
                    </td>
                    <td align="right" valign="top">
                        <div class="reaction">
                            <a class="btn text-green"><i class="icon ion-thumbsup"></i> 2</a>
                            <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="post-text">
            <p>{{post["PostContent"]}}</p>
        </div>
        <app-comment></app-comment>
        <app-comment></app-comment>
        <app-comment></app-comment>
    </div>
</div>
<div class="send-message" id="session-submit"
    style="bottom: 0vh; position: fixed; width: 300px; background-color: silver; margin-left: 0px; height: auto; background-color: rgb(250, 250, 250); border-left: 1px solid #f1f2f2; border-right: 1px solid #f1f2f2;">

    <div class="create-post" style="border: none; padding-bottom: 0; margin: 0; width: 105%; margin-left: -2.5%;">
        <form #createCommentForm="ngForm"
            (ngSubmit)="createComment(createCommentForm,filePreviewImg,fileInput, filePreviewVid)">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea type="text" name="CommentContent" id="exampleTextarea" cols="500" rows="3"
                            class="form-control" placeholder="Write what you wish"
                            style="border: none !important;	background-color: rgb(250, 250, 250); border-radius: 0;"
                            ngModel></textarea>
                    </div>
                </div>
                <input (change)="inputFileChalge(fileInput,filePreviewImg,filePreviewVid)" name="post-files" #fileInput
                    type="file" style="display: none;" ngModel />
                <div class="col-md-12">
                    <div class="video-wrapper">
                        <img #filePreviewImg src="" alt="" filePreviewVidclass="img-responsive post-image"
                            style="display: none; width: 100%; height: auto; max-height: 500px;" />
                        <video #filePreviewVid class="post-video"
                            style="display: none; width: 100%; height: auto; max-height: 500px;" controls>
                            <source src="" type="video/mp4"> </video>
                    </div>
                    <div class="tools">
                        <ul class="publishing-tools list-inline">
                            <li><a><i class="ion-android-happy"></i></a></li>
                            <li><a (click)="clikImages(fileInput)"><i class="ion-images"></i></a></li>
                            <li><a (click)="clikVideos(fileInput)"><i class="ion-ios-videocam"></i></a></li>
                            <li><a><i class="ion-map"></i></a></li>
                        </ul>
                        <button type="submit" class="btn btn-primary pull-right">publish</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>