<div class="page-title-div">Servers</div>
<div class="line-divider"></div>
<div class="container" style="width: 101%; margin-top: 25px;">
    <div class="row" style="margin-bottom: 15px;">
        <div  class="custom-col router-link" routerLink="/play/aastgae4wtaswe">
            <div class="custom-col-text" style="margin-bottom: 5px; height: 18px;">
                <div style="float: left;" >Name: NTO0AEFE</div>
                <div style="float: right; color: #c63f3f; font-size: 12px;" >Full</div>
            </div>
            <div class="custom-col-text"><b>Location: Johannesburg,ZA</b></div>
            <div class="custom-col-button" style="background-color: #c63f3f; margin-top: 5px;  text-align: center; padding-top: 3px;" type="submit" >60 000/60 000</div>
        </div>
        <div class="custom-col">
            <div class="custom-col-text" style="margin-bottom: 5px; height: 18px;">
                <div style="float: left;" >Name: NTO0AEFE</div>
                <div style="float: right; color: #8dc63f; font-size: 12px;" >Resume</div>
            </div>
            <div class="custom-col-text"><b>Location: Johannesburg,ZA</b></div>
            <div class="custom-col-button" style="margin-top: 5px;  text-align: center; padding-top: 3px;" type="submit" >55/60 000</div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 8px;">
        <div class="custom-col">
            <div class="custom-col-text" style="margin-bottom: 5px; height: 18px;">
                <div style="float: left;" >Name: NTO0AEFE</div>
                <div style="float: right; color: #8dc63f; font-size: 12px;" >Resume</div>
            </div>
            <div class="custom-col-text"><b>Location: Johannesburg,ZA</b></div>
            <div class="custom-col-button" style="margin-top: 5px;  text-align: center; padding-top: 3px;" type="submit" >49 000/60 000</div>
        </div>
        <div class="custom-col">
            <div class="custom-col-text" style="margin-bottom: 5px; height: 18px;">
                <div style="float: left;" >Name: NTO0AEFE</div>
                <div style="float: right; color: #8dc63f; font-size: 12px;" >Resume</div>
            </div>
            <div class="custom-col-text"><b>Location: Johannesburg,ZA</b></div>
            <div class="custom-col-button" style="background-color: #c63f3f; margin-top: 5px; text-align: center; padding-top: 3px;" type="submit" >5/60 000</div>
        </div>
    </div>
</div>

