<app-header></app-header>
<div id="page-contents">
  <div class="container">
    <div class="row">
      <!-- Side Bar Left
                ================================================= -->
      <app-navigation-menu *ngIf="desktopScreen"></app-navigation-menu>

      <!-- Home Content
                ================================================= -->
      <div class="col-md-7" id="home-content">
        <router-outlet></router-outlet>
      </div>

      <!-- Newsfeed Common Side Bar Right
                ================================================= -->
      <div class="col-md-2 static">
        <app-suggestions *ngIf="desktopScreen" style="position: fixed;"></app-suggestions>
      </div>
    </div>
  </div>
</div>
