<div class="create-post">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <img src="http://placehold.it/300x300" alt="" class="profile-photo-md" />
          <textarea name="texts" id="exampleTextarea" cols="500" rows="1" class="form-control"
            placeholder="Write what you wish"
            style="border: none !important;	background-color: rgb(250, 250, 250); border-radius: 0;"></textarea>
        </div>
      </div>
      <div class="col-md-12">
        <div class="tools">
          <ul class="publishing-tools list-inline">
            <li><a href="#"><i class="ion-compose"></i></a></li>
            <li><a href="#"><i class="ion-images"></i></a></li>
            <li><a href="#"><i class="ion-ios-videocam"></i></a></li>
            <li><a href="#"><i class="ion-map"></i></a></li>
          </ul>
          <button class="btn btn-primary pull-right">publish</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Post Create Box End-->