.textarea {
  outline: none;
  background: #efefef;
  border: #888 1px solid;
  display: block;
  position: relative;
  resize: vertical;
  overflow: auto;
  height: 70px;
}
[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-text);
}
