<app-header></app-header>
<div class="container" style="margin-top: 10px;" *ngIf="profileDataLoaded">

    <!-- Timeline
    ================================================= -->
    <div class="timeline">
        <div class="timeline-cover" #coverpicPrev [style.background]="profileCoverPicLink">
            <div *ngIf="updateButtons" style="position: absolute; top: 20px; right: 25px;"><button
                    (click)="coverpic.click()"
                    style="border-radius: 10px 0px 0px 10px; height: 30px; padding-left: 10px; padding-top: 2px; padding-right: 10px; opacity: 0.8;"
                    class="btn-primary router-link"><i class="icon ion-android-camera" style="font-size: 18px;"></i>
                </button><button (click)="updateProfileCoverPic(coverpic)"
                    style="border-radius: 0px 10px 10px 0px; height: 30px; padding-left: 20px; padding-top: 2px; padding-right: 10px; font-size: 18px; opacity: 0.6;"
                    class="btn-primary router-link"><span
                        style="font-size: 14px; position: relative; top: -3px; left: -5px;">update</span>
                </button>
                <input (change)="coverFile(coverpic,coverpicPrev)" #coverpic type="file" style="display: none;" />
            </div>
            <!--Timeline Menu for Large Screens-->
            <div class="timeline-nav-bar hidden-sm hidden-xs">
                <div class="row">
                    <div class="col-md-3">

                        <div class="profile-info">
                            <div *ngIf="updateButtons" style="position: absolute; top: 120px; left: 65px;"><button
                                    (click)="propic.click()"
                                    style="border-radius: 10px 0px 0px 10px; height: 30px; padding-left: 10px; padding-top: 2px; padding-right: 10px; opacity: 0.8;"
                                    class="btn-primary router-link"><i class="icon ion-android-camera"
                                        style="font-size: 18px;"></i>
                                </button><button (click)="updateProfilePic(propic)"
                                    style="border-radius: 0px 10px 10px 0px; height: 30px; padding-left: 20px; padding-top: 2px; padding-right: 10px; font-size: 18px; opacity: 0.7;"
                                    class="btn-primary router-link"><span
                                        style="font-size: 14px; position: relative; top: -3px; left: -5px;">update</span>
                                </button>
                                <input (change)="inputFileChalge(propic,propicPrev)" #propic type="file"
                                    style="display: none;" />
                            </div>
                            <img #propicPrev src="{{profilePicLink}}" alt="" class="img-responsive profile-photo" />
                            <span [ngClass]="chatStatusClasses"
                                style="top: 180px; left: 135px; width: 23px; height: 23px; border: 3px solid white;"></span>
                            <h3>{{UserData["FirstName"]}} {{UserData["LastName"]}}</h3>
                            <p class="text-muted">Creative Director</p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <ul class="list-inline profile-menu">
                            <li><a class="router-link" routerLink="{{timelineLink}}" routerLinkActive="active">Posts</a>
                            </li>
                            <li><a class="router-link" routerLink="{{aboutLink}}" routerLinkActive="active">About</a>
                            </li>
                            <li><a class="router-link" routerLink="{{galleryLink}}"
                                    routerLinkActive="active">Gallery</a></li>
                            <li><a class="router-link" routerLink="{{friendsLink}}"
                                    routerLinkActive="active">Friends(3,500)</a></li>
                        </ul>
                        <ul class="follow-me list-inline">
                            <li><button (click)="logout()" *ngIf="!isProfileView" class="btn-primary router-link"
                                    style="margin-right: 10px; width: 120px;"><i class="icon ion-log-out"></i>
                                    Logout</button></li>
                            <li *ngIf="isProfileView"><button class="btn-primary router-link" style="width: 120px;"
                                    routerLink="{{messageUserLink}}">Message</button></li>
                            <li *ngIf="isAddFriendButton"><button class="btn-primary" style="width: 120px;"
                                    (click)="addFriend()">Add Friend</button></li>
                        </ul>

                    </div>

                </div>
            </div>
            <!--Timeline Menu for Large Screens End-->

            <!--Timeline Menu for Small Screens-->
            <div class="navbar-mobile hidden-lg hidden-md">
                <div class="profile-info">
                    <div *ngIf="updateButtons" style="position: absolute; top: 120px; left: calc(50% - 55px);"><button
                            (click)="propic.click()"
                            style="border-radius: 10px 0px 0px 10px; height: 30px; padding-left: 10px; padding-top: 2px; padding-right: 10px; opacity: 0.8;"
                            class="btn-primary router-link"><i class="icon ion-android-camera"
                                style="font-size: 18px;"></i>
                        </button><button (click)="updateProfilePic(propic)"
                            style="border-radius: 0px 10px 10px 0px; height: 30px; padding-left: 20px; padding-top: 2px; padding-right: 10px; font-size: 18px; opacity: 0.6;"
                            class="btn-primary router-link"><span
                                style="font-size: 14px; position: relative; top: -3px; left: -5px;">update</span>
                        </button>
                        <input (change)="inputFileChalge(propic,propicPrevMob)" #propic type="file"
                            style="display: none;" />
                    </div>
                    <img #propicPrevMob src="{{profilePicLink}}" alt="" class="img-responsive profile-photo" />
                    <span [ngClass]="chatStatusClasses"
                        style="top: 179px; left: 53%; width: 23px; height: 23px; border: 3px solid white;"></span>
                    <h4>Sarah Cruiz</h4>
                    <p class="text-muted">Creative Director</p>
                </div>
                <div class="mobile-menu">
                    <ul class="list-inline">
                        <li><a class="router-link" routerLink="{{timelineLink}}" routerLinkActive="active"> Posts</a>
                        </li>
                        <li><a class="router-link" routerLink="{{aboutLink}}" routerLinkActive="active">About</a></li>
                        <li><a class="router-link" routerLink="{{galleryLink}}" routerLinkActive="active">Gallery</a>
                        </li>
                        <li><a class="router-link" routerLink="{{friendsLink}}" routerLinkActive="active">Friends(3,500)</a>
                        </li>
                    </ul>
                    <button (click)="logout()" *ngIf="!isProfileView" class="btn-primary router-link"
                        style="margin-right: 10px; width: 120px;"><i class="icon ion-log-out"></i> Logout</button>
                    <button *ngIf="isProfileView" class="btn-primary router-link"
                        style="margin-right: 10px; width: 120px;" routerLink="{{messageUserLink}}">Message</button>
                    <button *ngIf="isAddFriendButton" class="btn-primary" style="width: 120px;"
                        (click)="addFriend()">Add Friend</button>
                </div>
            </div>
            <!--Timeline Menu for Small Screens End-->

        </div>
        <div id="page-contents">
            <div class="row">
                <div class="col-md-3">
                    <!--Edit Profile Menu-->
                    <ul class="edit-menu"
                        *ngIf='router.url.endsWith("/about/basic-info") || router.url.endsWith("/about/edu-work") || router.url.endsWith("/about/interests") || router.url.endsWith("/about/work") || router.url.endsWith("/about/education") 
                    || router.url.endsWith("/about/settings") || router.url.endsWith("/about/change-password") && UserData["Email"].split("@")[0] == route.snapshot.paramMap.get("id"); else elseBlockMenu'>
                        <li class="router-link" routerLink="{{aboutBasicInfoLink}}" routerLinkActive="active"><i
                                class="icon ion-ios-information-outline"></i><a>Basic Information</a></li>
                        <li class="router-link" routerLink="{{aboutEducation}}" routerLinkActive="active"><i
                                class="icon ion-ios-book-outline"></i><a>Education
                            </a></li>
                        <li class="router-link" routerLink="{{aboutWork}}" routerLinkActive="active"><i
                                class="icon ion-ios-briefcase-outline"></i><a>Work
                            </a></li>
                        <li class="router-link" routerLink="{{aboutInterestLink}}" routerLinkActive="active"><i
                                class="icon ion-ios-heart-outline"></i><a>My
                                Interests</a></li>
                        <li class="router-link" routerLink="{{aboutSettingsLink}}" routerLinkActive="active"><i
                                class="icon ion-ios-settings"></i><a>Account
                                Settings</a></li>
                        <li class="router-link" routerLink="{{aboutChangePasswordLink}}" routerLinkActive="active"><i
                                class="icon ion-ios-locked-outline"></i><a>Change
                                Password</a></li>
                    </ul>
                    <ng-template #elseBlockMenu>
                        <!--profile card ends-->
                        <ul *ngIf="desktopScreen" class="nav-news-feed" style="margin-top: 100px; margin-left: -15px;">
                            <li class="router-link" routerLink="/play"><i class="icon ion-ios-play-outline"></i>
                                <div><a>Play</a></div>
                            </li>
                            <li class="router-link" routerLink="/leaderboards"><i class="icon ion-ios-paper"></i>
                                <div><a>Leaderboards</a></div>
                            </li>
                            <li class="router-link" routerLink="/buy"><i class="icon ion-android-cart"></i>
                                <div><a>Buy attempts</a></div>
                            </li>
                            <li class="router-link" routerLink="/prizes"><i class="icon ion-trophy"></i>
                                <div><a>Prizes</a></div>
                            </li>
                            <li class="router-link" routerLink="/settings"><i class="icon ion-android-settings"></i>
                                <div><a>Settings</a></div>
                            </li>
                            <li class="router-link" routerLink="/help"><i class="icon ion-help"></i>
                                <div><a>Help</a></div>
                            </li>
                            <li class="router-link" routerLink="/contact"><i class="icon ion-ios-telephone"></i>
                                <div><a>Contact</a></div>
                            </li>
                        </ul>
                        <!--news-feed links ends-->
                    </ng-template>
                </div>
                <div class="col-md-7">

                    <router-outlet></router-outlet>

                </div>
                <div class="col-md-2 static" *ngIf="desktopScreen">
                    <div id="sticky-sidebar">
                        <h4>{{UserData["FirstName"]}}'s<span style="color: gray;"> activity</span></h4>
                        <ng-container *ngFor="let activity of activities">
                            <div class="feed-item">
                                <div class="live-activity router-link"
                                    routerLink="{{'/post/' + activity['_redirect'] }}">
                                    <p><a class="profile-link">{{UserData["FirstName"]}}</a>
                                        {{activity["Content"]}}</p>
                                    <p class="text-muted">
                                        {{convertDateTimeToWord(activity["CreateDateTime"],activity["DateTimeNow"])}}
                                    </p>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>