<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="sign-in-form" (ngSubmit)="forgotPassword(emailRef,emailValRef)" >
                <div style="margin-top: -10px; margin-left: -15px;">
                    <a class="navbar-brand">
                        <img style="width: 36px;height: 20px; margin-top: -2px" src="assets/images/logo (2).png"
                            alt="logo" /></a>
                    <span>
                        <span class="brand-2"
                            style="font-size: 22px; font-family: unset; font-weight: 600; color: rgb(131, 131, 131);">&nbsp;
                            Forgot password</span>
                    </span>
                </div>
                <br />
                <p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>
                <p class="sign-in-up-fieldset">
                    <label class="sign-in-up-label image-replace cd-email" htmlFor="signin-email">Email</label>
                    <input #emailRef class="sign-in-up-input full-width has-padding has-border" id="signin-email" type="text"
                        placeholder="Email" name="Email" (change)="checkEmail(emailRef, emailValRef)" />
                    <span #emailValRef class="validation-span" style="width: 150px; left: 5px;">Invalid email</span>
                </p>
                <p style="margin-bottom: 20px;">
                    <input class="router-link btn btn-primary"
                        style="border: 1px solid #27aae1; background-color: #ffffff; color: rgb(39, 38, 38); font-weight: normal; width: 100%;"
                        type="submit" value="Submit" />
                </p>
                <div class="sign-in-up-forgot-pass router-link" style="margin-bottom: 10px; color: #27aae1"
                    routerLink="/login"><span style="color: rgb(39, 38, 38); ">Remember your password?</span> Sign in.
                </div>
            </form>
            <div class="login100-more" style="background: #27aae1;">
                <div
                    style="height: 350px; font-size: 22px; font-family: unset; font-weight: 600; color: #ffffff; margin-left: 7.5%; margin-top: calc(50vh - 200px); width: 73%; text-align: center;">
                    <div># Welcome</div> <br />
                    <div style="font-size: 16px; font-family: unset; font-weight: 500; color: #ffffff;">Make friends,
                        connect with family, publish challenges and compete in trivia contest that spans art and
                        entertainment, sports, the world, etc and stand a chance to win weekly prizes.</div><br />
                    <img style="width: 220px; height: 220px; margin-top: 20px;" src="assets/images/group.svg"
                        alt="logo" />
                </div>
            </div>
        </div>
    </div>
</div>
<div id="spinner-wrapper" *ngIf="forgotPassSpinner">
    <div class="spinner" style="z-index: 9;"></div>
</div>