<div class="page-title-div">Settings</div>
<div class="line-divider"></div>
<div class="edit-block">
    <ng-container *ngFor="let setting of Settings">
        <div class="settings-block">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <div class="switch-description">
                            <div><strong>{{setting["Label"]}}</strong></div>
                            <p>{{setting["Description"]}}</p>
                        </div>
                    </td>
                    <td style="width: 10%;" valing="right">
                        <div class="toggle-switch">
                            <label class="switch">
                                <input *ngIf="setting['Value']; else elseblock" #settingRef type="checkbox" checked
                                    (change)="onSettingChange(settingRef,setting)">
                                <ng-template #elseblock>
                                    <input #settingRef type="checkbox" (change)="onSettingChange(settingRef,setting)">
                                </ng-template>
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="line"></div>
    </ng-container>
</div>