<!-- Post Content
                  ================================================= -->
<div class="post-content" >
    <div *ngIf="profileRoute" class="post-date hidden-xs hidden-sm">
        <h5>Sarah</h5>
        <p class="text-grey">10/21/2016</p>
    </div>
    <!--Post Date End-->
    <video *ngIf='fileType == "video"' class="post-video" style="width: 100%; height: auto; max-height: 500px;" controls> <source [src]='post["Files"][0]["FileBaseUrls"][0]' type="video/mp4"> </video>
    <img  *ngIf='fileType == "image"' style="width: 100%; height: auto; max-height: 500px;" [src]='post["Files"][0]["FileBaseUrls"][0]' alt="" class="img-responsive post-image router-link" [routerLink]="postLink" />
    <div class="post-container">
        <img src="http://placehold.it/300x300" alt="user" class="profile-photo-md pull-left" />
        <div class="post-detail router-link" [routerLink]="postLink" >
            <table style="width: 100%;">
                <tr>
                    <td>
                        <div class="user-info">
                            <h5><a href="timeline.html" class="profile-link">Anna Young</a></h5>
                            <p class="text-muted" style="font-size: 11px;">about 4 hour ago</p>
                        </div>
                    </td>
                    <td align="right" valign="top">
                        <div class="reaction">
                            <a class="btn text-green"><i class="icon ion-thumbsup"></i> 2</a>
                            <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="post-text router-link" [routerLink]="postLink" >
            <p>{{post["PostContent"]}}</p>
        </div>
        <div class="line-divider router-link" [routerLink]="postLink"></div>
        <div class="post-comment" >
            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm" />
            <p class="post-text" > 
                <a href="timeline.html" class="profile-link">Julia <br /></a>
                <img src="http://placehold.it/1920x1160" alt="" class="img-responsive post-image" />
                <span class="router-link" [routerLink]="postLink">
                At vero eos et accusamus
                et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                atque corrupti quos dolores et quas molestias excepturi sint occaecati
                cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia
                animi, id est laborum et dolorum fuga.<br /> </span>
                <span class="text-muted" style="font-size: 11px;">about 4 hour ago</span>
            </p>
        </div>
        <div class="create-post" style="border: none; padding-bottom: 0; margin: 0; width: 110%; margin-left: -5%;">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea name="texts" id="exampleTextarea" cols="500" rows="2" class="form-control"
                            placeholder="Type comment"
                            style="border: none !important; background: #f8f8f8; border-radius: 0;"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="tools">
                        <ul class="publishing-tools list-inline">
                            <li><a href="#"><i class="ion-compose"></i></a></li>
                            <li><a href="#"><i class="ion-images"></i></a></li>
                            <li><a href="#"><i class="ion-ios-videocam"></i></a></li>
                            <li><a href="#"><i class="ion-map"></i></a></li>
                        </ul>
                        <button class="btn btn-primary pull-right">comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>