<!-- Post Content
                  ================================================= -->
<div class="post-content">
    <div *ngIf="profileRoute" class="post-date hidden-xs hidden-sm">
        <h5>Sarah</h5>
        <p class="text-grey">10/21/2016</p>
    </div>
    <!--Post Date End-->
    <video *ngIf='post["FileType"] == "video"' class="post-video" style="width: 100%; height: auto; max-height: 500px;"
        controls>
        <source [src]='post["Files"][0]["FileBaseUrls"][0]' type="video/mp4"> </video>
    <img *ngIf='post["FileType"] == "image"' style="width: 100%; height: auto; max-height: 500px;"
        [src]='post["Files"][0]["FileBaseUrls"][0]' alt="" class="img-responsive post-image router-link"
        [routerLink]="postLink" />
    <div class="post-container">
        <img src="http://placehold.it/300x300" alt="user" class="profile-photo-md pull-left" />
        <div class="post-detail router-link" >
            <table style="width: 100%;">
                <tr>
                    <td>
                        <div class="user-info">
                            <h5><a  class="profile-link" [routerLink]="userLink" >{{post["Users"][0]["FirstName"]}} {{post["Users"][0]["LastName"]}} </a></h5>
                            <p class="text-muted router-link" style="font-size: 11px;" [routerLink]="postLink">{{postDate}}</p>
                        </div>
                    </td>
                    <td align="right" valign="top">
                        <div class="reaction">
                            <a class="btn router-link" style="color: silver;" [routerLink]="postLink" ><i class="icon ion-chatboxes"></i> {{commentsCount}}</a>
                            <a [class]="postLikedClass" (click)="like()" ><i class="icon ion-thumbsup"></i> {{likesCount}}</a>
                            <a [class]="postDisLikedClass" (click)="dislike()" ><i class="fa fa-thumbs-down"></i> {{disLikesCount}}</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="post-text router-link" [routerLink]="postLink">
            <p #postContent ></p>
        </div>
        <app-comment *ngIf="comments.length > 0" [comment]="comments[0]"></app-comment>
        <div class="create-post" style="border: none; padding-bottom: 0; margin: 0; width: 110%; margin-left: -5%;">
            <form #createCommentForm="ngForm"
                (ngSubmit)="createComment(createCommentForm,filePreviewImg,fileInput, filePreviewVid)">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea type="text" name="CommentContent" id="exampleTextarea" cols="500" rows="3"
                                class="form-control" placeholder="Type a comment"
                                style="border: none !important;	background-color: #f8f8f8; border-radius: 0;"
                                ngModel></textarea>
                        </div>
                    </div>
                    <input (change)="inputFileChalge(fileInput,filePreviewImg,filePreviewVid)" name="post-files"
                        #fileInput type="file" style="display: none;" ngModel />
                    <div class="col-md-12">
                        <div class="video-wrapper">
                            <img #filePreviewImg src="" alt="" filePreviewVidclass="img-responsive post-image"
                                style="display: none; width: 100%; height: auto; max-height: 500px;" />
                            <video #filePreviewVid class="post-video"
                                style="display: none; width: 100%; height: auto; max-height: 500px;" controls>
                                <source src="" type="video/mp4"> </video>
                        </div>
                        <div class="tools">
                            <ul class="publishing-tools list-inline">
                                <li><a><i class="ion-android-happy"></i></a></li>
                                <li><a (click)="clikImages(fileInput)"><i class="ion-images"></i></a></li>
                                <li><a (click)="clikVideos(fileInput)"><i class="ion-ios-videocam"></i></a></li>
                                <li><a><i class="ion-map"></i></a></li>
                            </ul>
                            <button type="submit" class="btn btn-primary pull-right">comment</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>