<!-- Change Password
              ================================================= -->
<div class="edit-profile-container">
    <div class="block-title">
        <h4 class="grey"><i class="icon ion-ios-locked-outline"></i>Change Password</h4>
        <div class="line"></div>
    </div>
    <div class="edit-block">
        <form name="update-pass" id="education" class="form-inline" (ngSubmit)="changePassword(passwordVal,passwordNew,passwordConfirm,passwordValRef,passwordNewValRef,passwordConfirmValRef)">
            <div class="row">
                <div class="form-group col-xs-12">
                    <span for="my-password">Old password</span>
                    <input #passwordVal id="my-password" class="form-control input-group-lg" type="password" name="password"
                        title="Enter password" placeholder="Old password" (change)="passwordChange(passwordVal,passwordValRef)" />
                    <span #passwordValRef class="validation-span" style="width: 150px; left: 5px;">Password
                        required</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-6">
                    <span>New password</span>
                    <input #passwordNew class="form-control input-group-lg" type="password" name="password" title="Enter password"
                        placeholder="New password" (change)="passwordNewChange(passwordNew,passwordNewValRef)"  />
                    <span #passwordNewValRef class="validation-span" style="width: 150px; left: 5px;">Password
                        required</span>
                </div>
                <div class="form-group col-xs-6">
                    <span>Confirm password</span>
                    <input #passwordConfirm class="form-control input-group-lg" type="password" name="password" title="Enter password"
                        placeholder="Confirm password" (change)="passwordConfirmChange(passwordConfirm,passwordNew,passwordConfirmValRef)" />
                    <span #passwordConfirmValRef class="validation-span" style="width: 150px; left: 5px;">Passswords do not match</span>
                </div>
            </div>
            <p><a class="router-link" routerLink="/forgot-password">Forgot Password?</a></p>
            <button class="btn btn-primary">Update Password</button>
        </form>
    </div>
</div>