<div class="line-divider"></div>
<div class="post-comment">
    <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm" />
    <p class="post-text">
        <a href="timeline.html" class="profile-link">Julia <br /></a>
        <span>
            {{comment["CommentContent"]}}
            <br />
        </span>
        <video *ngIf='comment["FileType"] == "video"' class="post-video"
            style="width: 100%; height: auto; max-height: 500px;" controls>
            <source [src]='comment["Files"][0]["FileBaseUrls"][0]' type="video/mp4"> </video>
        <img *ngIf='comment["FileType"] == "image"' style="width: 100%; height: auto; max-height: 500px;"
            [src]='comment["Files"][0]["FileBaseUrls"][0]' alt="" class="img-responsive post-image" />
        <span class="text-muted" style="font-size: 11px;">{{commentDate}}</span>
    </p>
</div>