<div class="line-divider"></div>
<div class="post-comment">
    <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm" />
    <p class="post-text">
        <a href="timeline.html" class="profile-link">Julia <br /></a>
        <img src="http://placehold.it/1920x1160" alt="" class="img-responsive post-image" />
        <span>
            At vero eos et accusamus
            et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
            atque corrupti quos dolores et quas molestias excepturi sint occaecati
            cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia
            animi, id est laborum et dolorum fuga.<br /> </span>
        <span class="text-muted" style="font-size: 11px;">about 4 hour ago</span>
    </p>
</div>