<!-- Landing Page Contents
          ================================================= -->
<div id="lp-register" style="margin-top: -145px; padding-bottom: 185px;">
    <div class="container wrapper">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="intro-texts">
                    <h1 class="text-white">Next Challenge</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="reg-form-container">

                    <!-- Register/Login Tabs-->
                    <div class="reg-options">
                        <ul class="nav nav-tabs">
                            <li class="router-link" routerLink="/register" routerLinkActive="active"><a href="#register" data-toggle="tab">Register</a></li>
                            <li class="router-link" routerLink="/login" routerLinkActive="active"><a href="#login" data-toggle="tab">Login</a></li>
                        </ul>
                        <!--Tabs End-->
                    </div>

                    <!--Registration Form Contents-->
                    <div class="tab-content">
                        <!--Login-->
                        <div class="tab-pane router-link-none-click" routerLink="/login" routerLinkActive="active" id="login">
                            <app-login></app-login>
                        </div>
                        <!--Register Form-->
                        <div class="tab-pane router-link-none-click" routerLink="/register" routerLinkActive="active" id="register">
                            <app-register></app-register>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">

                <!--Social Icons-->
                <ul class="list-inline social-icons">
                    <li><a href="#"><i class="icon ion-ios-telephone"></i></a></li>
                    <li><a href="#"><i class="icon ion-help"></i></a></li>
                    <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
                    <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
                    <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>