<div class="page-title-div">Prizes</div>
<div class="line-divider"></div>
<table class="table table-striped" >
    <thead>
        <tr>
            <th>#</th>
            <th style="text-align: center;">Weekly</th>
            <th style="text-align: center;">Weekend</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td align="center">R 300.00</td>
            <td align="center">R 500.00</td>
        </tr>
        <tr>
            <td>2</td>
            <td align="center">R 300.00</td>
            <td align="center">R 500.00</td>
        </tr>
        <tr>
            <td>3</td>
            <td align="center">R 300.00</td>
            <td align="center">R 500.00</td>
        </tr>
        <tr>
            <td>4</td>
            <td align="center">R 300.00</td>
            <td align="center">R 500.00</td>
        </tr>
        <tr>
            <td>5</td>
            <td align="center">R 300.00</td>
            <td align="center">R 500.00</td>
        </tr>
        <tr>
            <td>6</td>
            <td align="center">R 300.00</td>
            <td align="center">R 500.00</td>
        </tr>
        <tr>
            <td>7</td>
            <td align="center">R 300.00</td>
            <td align="center">R 500.00</td>
        </tr>
        <tr>
            <td>8</td>
            <td align="center">R 300.00</td>
            <td align="center">R 500.00</td>
        </tr>
        <tr>
            <td>9</td>
            <td align="center">R 300.00</td>
            <td align="center">R 500.00</td>
        </tr>
        <tr>
            <td>10</td>
            <td align="center">R 300.00</td>
            <td align="center">R 500.00</td>
        </tr>
    </tbody>

</table>
