<div class="page-title-div">Friend Requests</div>
<div class="line-divider"></div>
<div class="friend-list">
    <div class="row">
        <div class="col-md-6 col-sm-6" *ngFor="let request of FriendRequests">
            <div class="friend-card">
                <img src="http://placehold.it/1030x360" alt="profile-cover" class="img-responsive cover" />
                <div class="card-info">
                    <img src="http://placehold.it/300x300" alt="user" class="profile-photo-lg" />
                    <div class="friend-info">
                        <a (click)="rejectFriendship(request)" class="pull-right text-red"
                            style="font-size: 14px; margin-left: 7px; cursor: pointer;">reject</a>
                        <span class="pull-right" style="color: silver;">|</span>
                        <a (click)="approveFriendship(request)" class="pull-right text-green"
                            style="font-size: 14px; margin-right: 7px; cursor: pointer;">accept</a>
                        <h5 class="profile-link router-link"
                            routerLink="{{'/' + request['FriendUser'][0]['Email'].split('@')[0]}}"
                            *ngIf="UserData['_id'] != request['FriendUserId']; else elseBlock"><a class="profile-link"
                                style="cursor: pointer;">{{request["FriendUser"][0]["FirstName"]}}
                                {{request["FriendUser"][0]["LastName"]}}</a></h5>
                        <ng-template #elseBlock>
                            <h5><a class="profile-link router-link"
                                    routerLink="{{'/' + request['FriendshipStarter'][0]['Email'].split('@')[0]}}"
                                    style="cursor: pointer;">{{request["FriendshipStarter"][0]["FirstName"]}}
                                    {{request["FriendshipStarter"][0]["LastName"]}}</a></h5>
                        </ng-template>
                        <p>Student at Harvard</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>