<!-- Edit Interests
              ================================================= -->
<div class="edit-profile-container">
    <div class="block-title">
        <h4 class="grey"><i class="icon ion-ios-heart-outline"></i>My Interests</h4>
        <div class="line"></div>
    </div>
    <div class="edit-block">
        <ul class="list-inline interests">
            <li *ngFor="let myInterest of MyInterests; let i = index" style="width: 45%;"><a><i
                        class="{{myInterest['IconName']}}"></i> {{myInterest['InterestName']}} <i
                        class="icon ion-android-close" style="float: right;  color: white; cursor: pointer;"
                        (click)="removeInterent(i)"></i></a>
            </li>
        </ul>
        <div *ngIf="MyInterests.length > 0" class="line"></div>
        <div class="row">
            <p class="custom-label"><span>Add interests</span></p>
            <div class="form-group col-sm-8">
                <input #interestbox class="form-control input-group-lg" type="text"
                    placeholder="Interests. For example, photography" (keypress)="interestTextBoxChange(interestbox)" />
                <div *ngIf="CommonInterestsSearch.length > 0" class="search-dropdown-content"
                    style="background-color: white; border: 1px solid #f1f2f2; border-radius: 2px;">
                    <div class="search-row" *ngFor="let interest of CommonInterestsSearch;"
                        (click)="selectInterest(interest,interestbox)" style="cursor: pointer;">
                        <i class="{{interest['IconName']}}"
                            style="position: relative; margin-right: 20px; left: 13px;"></i>{{interest['InterestName']}}
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-4">
                <button class="btn btn-primary" (click)="addInterest(interestbox)" >Add</button>
            </div>
        </div>
    </div>
</div>