.textarea {
    outline: none;
    background: #efefef;
    border: #888 1px solid;
    display: block;
    position: relative;
    resize: vertical;
    overflow: auto;
    height: 50px;
  }
  [contentEditable="true"]:empty:not(:focus):before {
    content: attr(data-text);
  }
  
.led-green {
    color: #8dc63f;
}
.led-red {
    color: #e72e2eb6;
}
.led-yellow {
    color: #e0d865;
}
.led-silver {
    color: silver;
}
