<!-- About
              ================================================= -->
<div class="about-profile" *ngIf="AboutDataLoaded">
    <div class="about-content-block">
        <h4 class="grey"><i class="ion-ios-information-outline icon-in-title"></i>Personal Information</h4>
        <table style="width: 100%;">
            <tr>
                <td>
                    <h5>Email</h5>
                    <p>{{About["BasicInfo"]["EmailRegistration"]}}</p>
                </td>
                <td *ngIf='About["BasicInfo"]["DateOfBirth"] != null'> 
                    <h5>Date of Birth</h5>
                    <p>{{About["BasicInfo"]["DateOfBirth"]["Day"] + " " + About["BasicInfo"]["DateOfBirth"]["Month"] + " " + About["BasicInfo"]["DateOfBirth"]["Year"]}}
                    </p>
                </td>
            </tr>
            <tr>
                <td *ngIf='About["BasicInfo"]["Gender"] != null'>
                    <h5>Gender</h5>
                    <p>{{About["BasicInfo"]["Gender"]}}</p>
                </td>
                <td *ngIf='About["BasicInfo"]["City"] != null'>
                    <h5>City</h5>
                    <p>{{About["BasicInfo"]["City"]}}</p>
                </td>
            </tr>
        </table>
        <h5 *ngIf='About["BasicInfo"]["AboutMe"] != null'>About</h5>
        <p *ngIf='About["BasicInfo"]["AboutMe"] != null'>{{About["BasicInfo"]["AboutMe"]}}</p>
    </div>
    <div class="about-content-block">
        <h4 class="grey"><i class="ion-ios-book-outline icon-in-title"></i>Education</h4>
        <div class="organization">
            <div class="work-info" *ngFor="let school of About['Education']">
                <h5>{{school["Name"]}}</h5>
                <p><span class="text-grey">{{school["Description"]}}</span></p>
                <p>{{school["From"]}} to {{school["To"]}}</p>
            </div>
        </div>
    </div>
    <div class="about-content-block">
        <h4 class="grey"><i class="ion-ios-briefcase-outline icon-in-title"></i>Work Experiences</h4>
        <div class="organization">
            <div class="work-info" *ngFor="let company of About['Work']">
                <h5>{{company["Name"]}} in {{company["CityOrTown"]}}</h5>
                <p>{{company["Designation"]}} - <span class="text-grey">{{company["Description"]}}</span></p>
                <p>{{company["From"]}} to {{company["To"]}}</p>
            </div>
        </div>
    </div>
    <div class="about-content-block edit-block">
        <h4 class="grey"><i class="ion-ios-heart-outline icon-in-title"></i>Interests</h4>
        <ul class="list-inline interests ">
            <li *ngFor="let inteterest of About['Interests']; let i = index">
                <a><i class="{{inteterest['IconName']}}"></i> {{inteterest['InterestName']}}</a>
            </li>
        </ul>
    </div>
</div>