<!-- Edit  Education
              ================================================= -->
<div class="edit-profile-container">
    <div class="block-title">
        <h4 class="grey"><i class="icon ion-ios-book-outline"></i>My education <button (click)="addSchools()"
                class="btn btn-primary" style="float: right; margin-top: -10px;">Add</button></h4>
        <div class="line"></div>
    </div>
    <div class="edit-block">

        <form [formGroup]="form" class="form-inline" (ngSubmit)="sumbitEducation()">
            <ng-container formArrayName="schools"
                *ngFor="let creds of form.controls.schools?.value; let i = index;trackBy: cmpare;">
                <ng-container [formGroupName]="i">
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <span for="school">My school</span><i (click)="deleteEduction(i)"
                                class="icon ion-android-delete"
                                style="float: right; font-size: 18px; color: rgb(218, 74, 74); cursor: pointer;"></i>
                            <input class="form-control input-group-lg" type="text" formControlName="Name"
                                placeholder="My School" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <span for="date-from">From</span>
                            <input type="text" formControlName="From" class="form-control input-group-lg"
                                placeholder="From" />
                        </div>
                        <div class="form-group col-xs-6">
                            <span for="date-to" class="">To</span>
                            <input class="form-control input-group-lg" type="text" title="Enter a Date" placeholder="To"
                                formControlName="To" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <span for="edu-description">Description</span>
                            <textarea class="form-control" rows="4" cols="400" placeholder="Description"
                                formControlName="Description"></textarea>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
            <button *ngIf="this.form.value['schools'].length > 0" class="btn btn-primary" type="submit">Save
                Changes</button>
        </form>
    </div>
</div>
<div id="spinner-wrapper" *ngIf="eduSpin">
    <div class="spinner"></div>
</div>