<!-- Header
    ================================================= -->
<header id="header">
  <nav class="navbar navbar-default navbar-fixed-top menu" id="navnav" style="background-color: white;">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="router-link" routerLink="">
          <a class="navbar-brand">
            <img style="width: 38px;height: 22px; margin-top: 0px" src="assets/images/logo (2).png" alt="logo" /></a>
          <span *ngIf="desktopScreen">
            <span class="brand-1">Next </span><b class="brand-2">Challenge</b>
          </span>
        </span>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right main-menu">
          <li>
            <img class="router-link" routerLink="/play" src="assets/icons/play.svg" alt="" />
          </li>
          <li>
            <img class="router-link" routerLink="/friendrequests" src="assets/icons/friends.svg" alt="" />
          </li>
          <li>
            <img class="router-link" routerLink="/notifications" src="assets/icons/notification.svg" alt="" />
          </li>
          <li>
            <img class="router-link" routerLink="/chat" src="assets/icons/chat.svg" alt="" />
          </li>
          <li>
            <img class="router-link" routerLink="/profile/isaiah.ramafalo.5" style="width: 28px; height: 28px; margin-right: 18px;"
              src="assets/icons/user profile.svg" alt="" />
          </li>
        </ul>
        <form class="navbar-form navbar-right hidden-sm" style="min-width: 200px;">
          <div class="form-group">
            <i class="icon ion-android-search icon-search"></i>
            <input type="text" class="form-control search" placeholder="Search friends, photos, videos" />
          </div>
        </form>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</header>
<!--Header End-->