<!-- Header
    ================================================= -->
<header id="header">
  <nav class="navbar navbar-default navbar-fixed-top menu" id="navnav" style="background-color: white;">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div [ngClass]="{ 'navbar-header': true, 'mobile-tab-header': tabletScreen }">
        <span *ngIf="desktopScreen" routerLink="/home" [ngClass]="{'router-link': true, 'mobile-brand': mobileScreen }">
          <a class="navbar-brand">
            <img style="width: 38px;height: 22px; margin-top: 0px" src="assets/images/logo (2).png" alt="logo" /></a>
          <span>
            <span class="brand-1">Next</span><span class="brand-2">Challenge</span>
          </span>
        </span>
        <table *ngIf="mobileScreen || tabletScreen" class="nav navbar-nav navbar-right"
          style="width: 100%; margin: auto;  margin-top: 8px;">
          <tr>
            <td *ngIf="tabletScreen" align="left" style="width: 16.6%;">
              <img class="router-link" routerLink="/home" style="width: 38px;height: 26px; "
                src="assets/images/logo (2).png" alt="logo" />
            </td>
            <td *ngIf="mobileScreen" align="center" style="width: 16.6%;">
              <img class="router-link" routerLink="/home" style="width: 38px;height: 26px; "
                src="assets/images/logo (2).png" alt="logo" />
            </td>
            <td align="center" style="width: 16.6%;">
              <img class="router-link" routerLink="/play" style="margin-right: -5px" src="assets/icons/play.svg"
                alt="" />
            </td>
            <td align="center" style="position: relative; width: 16.6%;">
              <img class="router-link" routerLink="/friend-requests" style="margin-right: -5px"
                src="assets/icons/friends.svg" alt="" />
              <span *ngIf="headerStats['FriendRequests'] > 0" class="badge"
                style="position: absolute; top: -2px; right: 25%;">{{headerStats['FriendRequests']}}</span>
            </td>
            <td align="center" style="position: relative; width: 16.6%;">
              <img class="router-link" routerLink="/notifications" style="margin-right: -5px"
                src="assets/icons/notification.svg" alt="" />
              <span *ngIf="headerStats['Notifications'] > 0" class="badge"
                style="position: absolute; top: -2px; right: 25%;">{{headerStats['Notifications']}}</span>
            </td>
            <td align="center" style="position: relative; width: 16.6%;">
              <img class="router-link" routerLink="/chat" style="margin-right: -5px" src="assets/icons/chat.svg"
                alt="" />
              <span *ngIf="headerStats['Messages'] > 0" class="badge"
                style="position: absolute; top: -2px; right: 23%;">{{headerStats['Messages']}}</span>
            </td>
            <td *ngIf="mobileScreen" align="center" style="width: 16.6%;">
              <img class="router-link" routerLink="{{profileLink}}"
                style="width: 28px; height: 28px; margin-right: -5px" src="assets/icons/account.svg" alt="" />
            </td>
            <td *ngIf="tabletScreen" align="right" style="width: 16.6%;">
              <img class="router-link" routerLink="{{profileLink}}" style="width: 28px; height: 28px;"
                src="assets/icons/account.svg" alt="" />
            </td>
          </tr>
        </table>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse noselect" *ngIf="desktopScreen">
        <ul class="nav navbar-nav navbar-right main-menu">
          <li>
            <img class="router-link" routerLink="/play" src="assets/icons/play.svg" alt="" />
          </li>
          <li>
            <img class="router-link" routerLink="/friend-requests" src="assets/icons/friends.svg" alt="" />
            <span *ngIf="headerStats['FriendRequests'] > 0" class="badge">{{headerStats['FriendRequests']}}</span>
          </li>
          <li>
            <img class="router-link" routerLink="/notifications" src="assets/icons/notification.svg" alt="" />
            <span *ngIf="headerStats['Notifications'] > 0" class="badge"
              style="right: -6px;">{{headerStats['Notifications']}}</span>
          </li>
          <li>
            <img class="router-link" routerLink="/chat" src="assets/icons/chat.svg" alt="" />
            <span *ngIf="headerStats['Messages'] > 0" class="badge">{{headerStats['Messages']}}</span>
          </li>
          <li>
            <img class="router-link" routerLink="{{profileLink}}" style="width: 25px; height: 25px; margin-right: 18px;"
              src="assets/icons/account.svg" alt="" />
          </li>
        </ul>
        <form class="navbar-form navbar-right hidden-sm" style="min-width: 200px;">
          <div class="form-group">
            <i class="icon ion-android-search icon-search"></i>
            <input #searchInput type="text" [ngClass]="searchInputClasses" placeholder="Search"
              (keyup)="search(searchInput)" (focus)="search(searchInput)" (blur)="inputBlur()" />
            <div *ngIf="searchdata.length > 0" class="search-dropdown-content">
              <div *ngIf="searchHistory"
                style="padding-left: 10px; border-bottom: 1px solid #ddd; background-color: rgb(250, 250, 250);">Search
                History</div>
              <div *ngFor="let search of searchdata; let i = index"
                [class.search-row-border]="i != searchdata.length - 1" (click)="searchRowClick(search)">
                <div class="text-ellipsis" style="width: 95%;"> <i *ngIf="search['SearchType'] == 'user'" class="icon ion-person"
                    style="position: relative; margin-right: 20px; left: 13px;"></i>
                  <i *ngIf="search['SearchType'] == 'post'" class="icon ion-android-search"
                    style="position: relative; margin-right: 20px; left: 13px;"></i>
                  {{search['SearchContent']}}</div>

              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</header>
<!--Header End-->
<div class="tab-dropdown" *ngIf="mobileScreen || tabletScreen">
  <div (click)="dropDownClick(menuDropdownTab)" class="arrow-down-div" id="tab-dropdown-arrow-down-div">
    <div style="margin-left: 45%;">
      <table #menuDropdownTab>
        <tr>
          <td style="padding-right: 10px;">
            <img src="assets/icons/bullet-list.svg" style="width: 13px; height: 13px;" alt="" />
          </td>
          <td style="padding-right: 10px;">
            <img src="assets/icons/down-arrow.svg" id="tab-dropdown-arrow-down-icon" style="width: 13px; height: 13px;"
              alt="" />
          </td>
          <td>
            <img src="assets/icons/bullet-list-opposite.svg" style="width: 13px; height: 13px;" alt="" />
          </td>
        </tr>
      </table>

    </div>
  </div>
  <div class="container tab-dropdown-content" style="display: none;">
    <form>
      <div class="form-group">
        <i class="icon ion-android-search icon-search" style="margin-top: 0px !important;"></i>
        <input #searchInputTwo type="text" [ngClass]="searchInputClasses" placeholder="Search"
          (keyup)="search(searchInputTwo)" (focus)="search(searchInputTwo)" (blur)="inputBlur()" />
        <div *ngIf="searchdata.length > 0" class="search-dropdown-content" style="position: relative;">
          <div *ngIf="searchHistory"
            style="padding-left: 10px; border-bottom: 1px solid #ddd; background-color: rgb(250, 250, 250);">Search
            History</div>
          <div *ngFor="let search of searchdata; let i = index" [class.search-row-border]="i != searchdata.length - 1"
            (click)="searchRowClick(search)">
            <div class="text-ellipsis" style="width: 98%;"> 
            <i *ngIf="search['SearchType'] == 'user'" class="icon ion-person"
              style="position: relative; margin-right: 10px; left: 0px;"></i>
            <i *ngIf="search['SearchType'] == 'post'" class="icon ion-android-search"
              style="position: relative; margin-right: 10px; left: 0px;"></i>
            {{search['SearchContent']}}</div>
          </div>
        </div>
      </div>
    </form>
    <br />
    <div class="col-md-3 static noselect" style="text-align: left;">
      <div style="position: relative; min-width: 250px;">
        <div class="profile-card" [style.background]="profileCoverPicLink">
          <img src='{{profilePicLink}}' alt="user" class="profile-photo" />
          <div (click)="toggleChangeStatus()"
            [ngClass]="{ 'led-green': currenLed == 'available','led-red': currenLed == 'busy','led-yellow': currenLed == 'away' }">
            <span class="tooltiptext" *ngIf="isChangeStatusVisible">
              <table style="width: 100%; height: 60px !important; margin: auto;">
                <tr style="cursor: pointer;" (click)="changeStatus('available')">
                  <td style="width: 40%;" align="center">
                    <div class="led-set" style="background-color: #8dc63f;"></div>
                  </td>
                  <td>
                    <i [class.current-led]="currenLed == 'available'">available</i>
                  </td>
                </tr>
                <tr style="cursor: pointer;" (click)="changeStatus('busy')">
                  <td style="width: 40%;" align="center">
                    <div class="led-set" style="background-color: #e72e2eb6;"></div>
                  </td>
                  <td>
                    <i [class.current-led]="currenLed == 'busy'">busy</i>
                  </td>
                </tr>
                <tr style="cursor: pointer;" (click)="changeStatus('away')">
                  <td style="width: 40%;" align="center">
                    <div class="led-set" style="background-color: #e0d865;"></div>
                  </td>
                  <td>
                    <i [class.current-led]="currenLed == 'away'">away</i>
                  </td>
                </tr>
              </table>
            </span>
          </div>
          <h5>
            <a class="router-link" routerLink='/{{UserData["Email"].split("@")[0]}}' class="text-white"><b
                class="text-ellipsis" style="width: 150px;">{{UserData["FirstName"]}} {{UserData["LastName"]}}</b></a>
          </h5>
          <span><i class="ion ion-leaf"></i> <span id="attempts-element"> {{UserData["Attempts"]}}
              attempts</span></span>
        </div>
        <!--profile card ends-->
        <ul class="nav-news-feed" style="margin-top: -25px; margin-left: -15px;">
          <li class="router-link" routerLink="/play"><i class="icon ion-ios-play-outline"></i>
            <div><a>Play</a></div>
          </li>
          <li class="router-link" routerLink="/leaderboards"><i class="icon ion-ios-paper"></i>
            <div><a>Leaderboards</a></div>
          </li>
          <li class="router-link" routerLink="/buy"><i class="icon ion-android-cart"></i>
            <div><a>Buy attempts</a></div>
          </li>
          <li class="router-link" routerLink="/prizes"><i class="icon ion-trophy"></i>
            <div><a>Prizes</a></div>
          </li>
          <li class="router-link" routerLink="/settings"><i class="icon ion-android-settings"></i>
            <div><a>Settings</a></div>
          </li>
          <li class="router-link" routerLink="/help"><i class="icon ion-help"></i>
            <div><a>Help</a></div>
          </li>
          <li class="router-link" routerLink="/contact"><i class="icon ion-ios-telephone"></i>
            <div><a>Contact</a></div>
          </li>
        </ul>
        <!--news-feed links ends-->
      </div>
    </div>
  </div>
</div>