.search-dropdown-content {
  display: block;
  position: absolute;
  background-color: #fff;
  width: 100%;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  overflow-x: hidden;
  margin-bottom: 10px;
  border-radius: 10px;
  color: silver;
  cursor: pointer;
}
.search-row-border {
  border-bottom: 1px solid #ddd;
}
.mobile-brand {
  position: relative;
  top: -4px;
  width: 10% !important;
}
.badge {
  position: absolute;
  top: 12px;
  right: -10px;
  padding: 2px 8px;
  border-radius: 45%;
  background: #27aae1;
  color: white;
}
