<div class="suggestions" id="sticky-sidebar">
    <h4 class="grey">Suggestions</h4>
    <div class="follow-user">
        <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
        <div>
            <h5><a href="timeline.html">Diana Amber</a></h5>
            <a href="#" class="text-green">Add Friend</a>
        </div>
    </div>
    <div class="follow-user">
        <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
        <div>
            <h5><a href="timeline.html">Cris Haris</a></h5>
            <a href="#" class="text-green">Add Friend</a>
        </div>
    </div>
    <div class="follow-user">
        <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
        <div>
            <h5><a href="timeline.html">Brian Walton</a></h5>
            <a href="#" class="text-green">Add Friend</a>
        </div>
    </div>
    <div class="follow-user">
        <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
        <div>
            <h5><a href="timeline.html">Olivia Steward</a></h5>
            <a href="#" class="text-green">Add Friend</a>
        </div>
    </div>
    <div class="follow-user">
        <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
        <div>
            <h5><a href="timeline.html">Sophia Page</a></h5>
            <a href="#" class="text-green">Add Friend</a>
        </div>
    </div>
</div>