<div class="col-md-3 static" id="chat-block" style="text-align: left;">
    <div class="profile-card">
        <img src="http://placehold.it/300x300" alt="user" class="profile-photo" />
        <h5><a href="timeline.html" class="text-white">Sarah Cruiz</a></h5>
        <i class="ion ion-leaf"></i> 1,299 attempts
    </div>
    <!--profile card ends-->
    <ul class="nav-news-feed" style="margin-top: -25px; margin-left: -15px;">
        <li class="router-link"  routerLink="/play"><i class="icon ion-ios-play-outline"></i>
            <div><a>Play</a></div>
        </li>
        <li class="router-link"  routerLink="/buyattempts"><i class="icon ion-ios-paper"></i>
            <div><a>Leaderboards</a></div>
        </li>
        <li class="router-link"  routerLink="/buyattempts"><i class="icon ion-android-cart"></i>
            <div><a>Buy attempts</a></div>
        </li>
        <li class="router-link"  routerLink="/buyattempts"><i class="icon ion-trophy"></i>
            <div><a>Prizes</a></div>
        </li>
        <li class="router-link"  routerLink="/buyattempts"><i class="icon ion-android-settings"></i>
            <div><a>Settings</a></div>
        </li>
        <li class="router-link"  routerLink="/buyattempts"><i class="icon ion-help"></i>
            <div><a>Help</a></div>
        </li>
        <li class="router-link"  routerLink="/buyattempts"><i class="icon ion-ios-paper-outline"></i>
            <div><a>Terms and Conditions</a></div>
        </li>
        <li class="router-link"  routerLink="/buyattempts"><i class="icon ion-ios-telephone"></i>
            <div><a>Contact</a></div>
        </li>
    </ul>
    <!--news-feed links ends-->
</div>