<div class="col-md-3 static noselect" id="chat-block" style="text-align: left;">
    <div style="position: fixed; min-width: 250px;">
        <div class="profile-card" id="profile-card" [style.background]="profileCoverPicLink">
            <img src='{{profilePicLink}}' alt="user" class="profile-photo" />
            <div (click)="toggleChangeStatus()"
                [ngClass]="{ 'led-green': currenLed == 'available','led-red': currenLed == 'busy','led-yellow': currenLed == 'away' }">
                <span class="tooltiptext" *ngIf="isChangeStatusVisible">
                    <table style="width: 100%; height: 60px !important; margin: auto;">
                        <tr style="cursor: pointer;" (click)="changeStatus('available')">
                            <td style="width: 40%;" align="center">
                                <div class="led-set" style="background-color: #8dc63f;"></div>
                            </td>
                            <td>
                                <i [class.current-led]="currenLed == 'available'" >available</i>
                            </td>
                        </tr>
                        <tr style="cursor: pointer;" (click)="changeStatus('busy')">
                            <td style="width: 40%;" align="center">
                                <div class="led-set" style="background-color: #e72e2eb6;"></div>
                            </td>
                            <td>
                                <i [class.current-led]="currenLed == 'busy'" >busy</i>
                            </td>
                        </tr>
                        <tr style="cursor: pointer;" (click)="changeStatus('away')">
                            <td style="width: 40%;" align="center">
                                <div class="led-set" style="background-color: #e0d865;"></div>
                            </td>
                            <td>
                                <i [class.current-led]="currenLed == 'away'" >away</i>
                            </td>
                        </tr>
                    </table>
                </span>
            </div>
            <h5><a *ngIf="DataLoaded" class="router-link" routerLink='/{{UserData["Email"].split("@")[0]}}' class="text-white"><b class="text-ellipsis" style="width: 120px;" >{{UserData["FirstName"]}} {{UserData["LastName"]}}</b></a></h5>
            <span *ngIf="DataLoaded" ><i class="ion ion-leaf"></i> <span id="attempts-element"> {{UserData["Attempts"]}} attempts</span></span>
        </div>
        <!--profile card ends-->
        <ul class="nav-news-feed" style="margin-top: -25px; margin-left: -15px;">
            <li class="router-link" routerLink="/play"><i class="icon ion-ios-play-outline"></i>
                <div><a>Play</a></div>
            </li>
            <li class="router-link" routerLink="/leaderboards"><i class="icon ion-ios-paper"></i>
                <div><a>Leaderboards</a></div>
            </li>
            <li class="router-link" routerLink="/buy"><i class="icon ion-android-cart"></i>
                <div><a>Buy attempts</a></div>
            </li>
            <li class="router-link" routerLink="/prizes"><i class="icon ion-trophy"></i>
                <div><a>Prizes</a></div>
            </li>
            <li class="router-link" routerLink="/settings"><i class="icon ion-android-settings"></i>
                <div><a>Settings</a></div>
            </li>
            <li class="router-link" routerLink="/help"><i class="icon ion-help"></i>
                <div><a>Help</a></div>
            </li>
            <li class="router-link" routerLink="/contact"><i class="icon ion-ios-telephone"></i>
                <div><a>Contact</a></div>
            </li>
        </ul>
        <!--news-feed links ends-->
    </div>
</div>