<li class="right" *ngIf="message['FromUserID'] == UserData['_id']; else elseBlock" style="margin-bottom: 5px;" >
    <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-right" />
    <div class="chat-item">
        <div class="chat-item-header">
            <h5>{{message['FromUsers'][0]["FirstName"]}} {{message['FromUsers'][0]["LastName"]}}</h5>
            <small id="{{message['_id']}}" class="text-muted" style="width: 120px !important; top: 10px; text-align: right;">
                <div class="loader"></div>
            </small>
        </div>
        <p #messageContent></p>
        <img #msgFile *ngIf="message['FileType'] == 'image'" src="" alt="" class="img-responsive post-image"
            style="width: 100%; height: auto; max-height: 500px;" />
        <video #msgFile *ngIf="message['FileType'] == 'video'" class="post-video"
            style="width: 100%; height: auto; max-height: 500px;" controls>
            <source src="" type="video/mp4"> </video>
    </div>
</li>
<ng-template #elseBlock>
    <li class="left" style="margin-bottom: 5px;">
        <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
        <div class="chat-item">
            <div class="chat-item-header">
                <h5>{{message['ToUsers'][0]["FirstName"]}} {{message['FromUsers'][0]["LastName"]}}</h5>
                <small class="text-muted" style="width: 120px !important; top: 10px;"><span style="position: absolute; right: 12px;">{{message['CreateDateTime']}}</span>
                    <i class="icon ion-forward" style="position: absolute; font-size: 24px; right: -10px;"></i>
                </small>
            </div>
            <p #messageContent></p>
            <img #msgFile *ngIf="message['FileType'] == 'image'" [src]="message['Files'][0]['FileBaseUrls'][0]" alt=""
                class="img-responsive post-image" style="width: 100%; height: auto; max-height: 500px;" />
            <video #msgFile *ngIf="message['FileType'] == 'video'" class="post-video"
                style="width: 100%; height: auto; max-height: 500px;" controls>
                <source [src]="message['Files'][0]['FileBaseUrls'][0]" type="video/mp4"> </video>
        </div>
    </li>
</ng-template>