<input #input style="display: none;" id="{{message['_id'] + '-input'}}" />
<li class="right" *ngIf="message['FromUserID'] == UserData['_id']; else elseBlock" style="margin-bottom: 5px;">
    <img src='{{message["FromUsers"][0]["ProfilePic"]["FileBaseUrls"][0]}}' alt=""
        class="profile-photo-sm pull-right" />
    <div class="chat-item">
        <div class="chat-item-header">
            <h5><a class="text-ellipsis" style="width: 40%;"
                    routerLink="{{'/' + message['FromUsers'][0]['Email'].split('@')[0]}}">{{message['FromUsers'][0]["FirstName"]+ " " + message['FromUsers'][0]["LastName"]}}</a>
            </h5>
            <table style="position: absolute; right: 5px; top:-5px;">
                <tr>
                    <td style="position: relative;">
                        <small id="{{message['_id']}}" class="text-muted"
                            style="width: 130px !important; text-align: right;">
                            <div class="loader"></div>
                        </small>
                    </td>
                    <td valign="center" style="position: relative; padding-right: 3px; padding-left: 3px;">
                        <i class="icon ion-android-delete" (click)="deleteMessage(input,true)"
                            style="position: relative; bottom: -15px; font-size: 18px; color: rgb(218, 74, 74); cursor: pointer;"></i>
                    </td>
                </tr>
            </table>
        </div>
        <p #messageContent style="word-wrap: break-word; width: 100%"></p>
        <img #msgFile *ngIf="message['FileType'] == 'image'" src="" alt="" class="img-responsive post-image"
            style="width: 100%; height: auto; max-height: 500px;" />
        <video #msgFile *ngIf="message['FileType'] == 'video' && message['_id'].includes('message')" class="post-video"
            style="width: 100%; height: auto; max-height: 500px;" controls>
            <source src="" type="video/mp4"> </video>
        <div *ngIf='message["FileType"] == "video"  && !message["_id"].includes("message")' style="position: relative;">
            <!--Post Date End-->
            <video #VideoRef class="post-video" style="width: 100%; height: auto; max-height: 500px;" preload="none"
                [controls]='videoControls' poster="{{message['Files'][0]['FilePosterUrls'][0]}}">
                <source [src]='message["Files"][0]["FileBaseUrls"][0]' type="video/mp4">
            </video>
            <img #VideoPlayer (click)="videoControls = true; VideoRef.play(); VideoPlayer.style.display = 'none'"
                class="router-link"
                style="position: absolute; left: calc(50% - 25px); top: calc(50% - 30px); width: 50px; height: 50px; border: 1.5px white solid; border-radius: 50%; opacity: 0.8;"
                src="assets/icons/play_vid.svg" alt="" />
        </div>
    </div>
</li>
<ng-template #elseBlock>
    <li class="left" style="margin-bottom: 5px;">
        <img src='{{message["FromUsers"][0]["ProfilePic"]["FileBaseUrls"][0]}}' alt=""
            class="profile-photo-sm pull-left" />
        <div class="chat-item">
            <div class="chat-item-header">
                <h5><a class="text-ellipsis" style="width: 40%;"
                        routerLink="{{'/' + message['FromUsers'][0]['Email'].split('@')[0]}}">{{message['FromUsers'][0]["FirstName"]+ " " + message['FromUsers'][0]["LastName"]}}</a>
                </h5>

                <table style="position: absolute; right: 5px; top: -5px;">
                    <tr>
                        <td style="position: relative;">
                            <small class="text-muted" style="width: 130px !important; text-align: right;"><span
                                    style="position: relative; margin-right: 4px;">{{message['CreateDateTime']}}</span>
                                <i class="icon ion-forward" style="position: absolute; font-size: 24px;"></i>
                            </small>
                        </td>
                        <td valign=" center" style="position: relative; padding-right: 3px; padding-left: 3px;">
                            <i class="icon ion-android-delete" (click)="deleteMessage(input,false)"
                                style="position: relative; bottom: -15px; font-size: 18px; color: rgb(218, 74, 74); cursor: pointer;"></i>
                        </td>
                    </tr>
                </table>
            </div>
            <p #messageContent style="word-wrap: break-word; width: 100%"></p>
            <img #msgFile *ngIf="message['FileType'] == 'image'" [src]="message['Files'][0]['FileBaseUrls'][0]" alt=""
                class="img-responsive post-image" style="width: 100%; height: auto; max-height: 500px;" />
            <video #msgFile *ngIf="message['FileType'] == 'video' && message['_id'].includes('message')"
                class="post-video" style="width: 100%; height: auto; max-height: 500px;" controls>
                <source src="" type="video/mp4"> </video>
            <div *ngIf='message["FileType"] == "video"  && !message["_id"].includes("message")'
                style="position: relative;">
                <!--Post Date End-->
                <video #VideoRef class="post-video" style="width: 100%; height: auto; max-height: 500px;" preload="none"
                    [controls]='videoControls' poster="{{message['Files'][0]['FilePosterUrls'][0]}}">
                    <source [src]='message["Files"][0]["FileBaseUrls"][0]' type="video/mp4">
                </video>
                <img #VideoPlayer (click)="videoControls = true; VideoRef.play(); VideoPlayer.style.display = 'none'"
                    class="router-link"
                    style="position: absolute; left: calc(50% - 25px); top: calc(50% - 30px); width: 50px; height: 50px; border: 1.5px white solid; border-radius: 50%; opacity: 0.8;"
                    src="assets/icons/play_vid.svg" alt="" />
            </div>
        </div>
    </li>
</ng-template>