<div class="page-title-div">Chats</div>
<div class="line-divider"></div>
<!-- Contact List in Left-->
<div class="chat-room" style="width: 100%;">
    <div class="row">
        <div >
            <ul class="nav nav-tabs contact-list">
                <li class="router-link" routerLink="/chat/sgesdgrw" >
                    <a href="#contact-1" data-toggle="tab">
                        <div class="contact">
                            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
                            <div class="msg-preview">
                                <h6>Linda Lohan</h6>
                                <p class="text-muted">Hi there, how are you</p>
                                <small class="text-muted">a min ago</small>
                                <div class="chat-alert">1</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#contact-2" data-toggle="tab">
                        <div class="contact">
                            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
                            <div class="msg-preview">
                                <h6>Julia Cox</h6>
                                <p class="text-muted">see you soon</p>
                                <small class="text-muted">an hour ago</small>
                                <div class="seen"><i class="icon ion-checkmark-round"></i></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#contact-3" data-toggle="tab">
                        <div class="contact">
                            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
                            <div class="msg-preview">
                                <h6>Sophia Lee</h6>
                                <p class="text-muted">Okay fine. thank you</p>
                                <small class="text-muted">13 hour ago</small>
                                <div class="replied"><i class="icon ion-reply"></i></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#contact-4" data-toggle="tab">
                        <div class="contact">
                            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
                            <div class="msg-preview">
                                <h6>John Doe</h6>
                                <p class="text-muted">hey anybody there</p>
                                <small class="text-muted">Yesterday</small>
                                <div class="chat-alert">1</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#contact-5" data-toggle="tab">
                        <div class="contact">
                            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
                            <div class="msg-preview">
                                <h6>Anna Young</h6>
                                <p class="text-muted">I gotta go</p>
                                <small class="text-muted">2 days ago</small>
                                <div class="seen"><i class="icon ion-checkmark-round"></i></div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#contact-6" data-toggle="tab">
                        <div class="contact">
                            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
                            <div class="msg-preview">
                                <h6>Richard Bell</h6>
                                <p class="text-muted">Hey there?</p>
                                <small class="text-muted">2 days ago</small>
                                <div class="chat-alert">1</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#contact-6" data-toggle="tab">
                        <div class="contact">
                            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
                            <div class="msg-preview">
                                <h6>Richard Bell</h6>
                                <p class="text-muted">Hey there?</p>
                                <small class="text-muted">2 days ago</small>
                                <div class="chat-alert">1</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#contact-6" data-toggle="tab">
                        <div class="contact">
                            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
                            <div class="msg-preview">
                                <h6>Richard Bell</h6>
                                <p class="text-muted">Hey there?</p>
                                <small class="text-muted">2 days ago</small>
                                <div class="chat-alert">1</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#contact-6" data-toggle="tab">
                        <div class="contact">
                            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
                            <div class="msg-preview">
                                <h6>Richard Bell</h6>
                                <p class="text-muted">Hey there?</p>
                                <small class="text-muted">2 days ago</small>
                                <div class="chat-alert">1</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#contact-6" data-toggle="tab">
                        <div class="contact">
                            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
                            <div class="msg-preview">
                                <h6>Richard Bell</h6>
                                <p class="text-muted">Hey there?</p>
                                <small class="text-muted">2 days ago</small>
                                <div class="chat-alert">1</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#contact-6" data-toggle="tab">
                        <div class="contact">
                            <img src="http://placehold.it/300x300" alt="" class="profile-photo-sm pull-left" />
                            <div class="msg-preview">
                                <h6>Richard Bell</h6>
                                <p class="text-muted">Hey there?</p>
                                <small class="text-muted">2 days ago</small>
                                <div class="chat-alert">1</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
            <!--Contact List in Left End-->
        </div>
    </div>
</div>