<ul class="nav nav-tabs contact-list" style="border: none;">
    <li class="router-link" [routerLink]="fromUrl" *ngIf="userData['_id'] != chat['FromUserId']; else elseblock" >
        <a>
            <div class="contact">
                <img src='{{chat["FromUsers"][0]["ProfilePic"]["FileBaseUrls"][0]}}'alt="" class="profile-photo-sm pull-left" />
                <span [ngClass]="chatStatusClassesFrom" style="top: 50px; left: 35px;" ></span>
                <div class="msg-preview">
                    <h6 class="text-ellipsis" style="width: 160px;" >{{chat["FromUsers"][0]["FirstName"]}} {{chat["FromUsers"][0]["LastName"]}}</h6>
                    <p class="text-muted" style="height: 15px; width: 90%; text-overflow: ellipsis;" #messageContent  ></p>
                    <small class="text-muted">{{dateTime}}</small>
                    <div class="chat-alert" *ngIf="chat['UnreadMessagesCount'] > 0; else messageStatus" >{{chat['UnreadMessagesCount'] }}</div>
                    <ng-template #messageStatus>
                        <div class="seen"><i class="icon ion-android-share"></i></div>
                    </ng-template>
                </div>
            </div>
        </a>
    </li>
    <ng-template #elseblock>
        <li class="router-link" [routerLink]="toUrl" >
            <a>
                <div class="contact">
                    <img src='{{chat["ToUsers"][0]["ProfilePic"]["FileBaseUrls"][0]}}' alt="" class="profile-photo-sm pull-left" />
                    <span [ngClass]="chatStatusClassesTo" style="top: 50px; left: 35px;" ></span>
                    <div class="msg-preview">
                        <h6 class="text-ellipsis" style="width: 160px;" >{{chat["ToUsers"][0]["FirstName"]}} {{chat["ToUsers"][0]["LastName"]}}</h6>
                        <p class="text-muted text-ellipsis" style="height: 20px; width: 90%;" #messageContent ></p>
                        <small class="text-muted">{{dateTime}}</small>
                        <div class="seen"><i class="icon ion-reply"></i></div>
                    </div>
                </div>
            </a>
        </li>
    </ng-template>
</ul>