<!-- Photo Album
              ================================================= -->
<div class="row album-photos" style="margin-bottom: 15px; margin-left: 0.3%;">
    <div  class="custom-col-gal" *ngFor="let file of GalleryFiles; let i = index;">
        <div class="img-wrapper" data-toggle="modal" [attr.data-target]="'.photo-' + i">
            <div *ngIf="file['FileType'] == 'video'; else elseBlock;" style="width: 100%; height: 155px; margin-bottom: 0px; padding-bottom: 0px;" >
                <video controls style="height: 155px; ">
                    <source src="{{file['FileBaseUrls'][0]}}" type="video/mp4" />
                </video>
            </div>
            <ng-template #elseBlock >
                <img src="{{file['FileBaseUrls'][0]}}" alt="photo" style="width: 100%; height: 155px;" />
            </ng-template>
        </div>
        <div class="modal fade photo-{{i}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div *ngIf="file['FileType'] == 'video';" style="width: 100%; max-height: 700px;"  >
                        <video controls style="max-height: 700px;">
                            <source src="{{file['FileBaseUrls'][0]}}" type="video/mp4" />
                        </video>
                    </div>
                    <img *ngIf="file['FileType'] == 'image';" src="{{file['FileBaseUrls'][0]}}" alt="photo" style="width: 100%; max-height: 700px; height: auto;" />
                </div>
            </div>
        </div>
    </div>
</div>